@font-face{
	font-family: 'forte' !important;
	src: url('http://www.fontsaddict.com/fontface/forte.ttf');
}

body{
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 100%),url('3.jpg');
	background-repeat: none;
	width: 100%;
}

.btn-success{

}

.btn, .btn-danger, .btn-default{
	background-color: #000 important;
}

.navbar-left{
	float: left;
	margin: 10px 10px;
}
